<form action="savedata">
First Name : <input type="text" name="fn"><br><br>
Last Name : <input type="text" name="ln"><br><br>
Cuontry : <input type="text" name="country"><br><br>
<button>Save Data</button>
<form>
<button><a href="showdata">Show All Data</a></button>